@import '../../constants/variables.scss';

.cell--container {
    font-weight: bold;
    color: white;
    background-color: #0501e2;
}

// XS Device
@media only screen and (max-width: $small-device) {
    .cell--container {
        font-size: 10px;
        width: 60px;
    }
}

// S Device
@media only screen and (min-width: $small-device) {
    .cell--container {
        font-size: 12px;
        width: 80px;
    }
}

// L Device
@media only screen and (min-width: $large-device) {
    .cell--container {
        font-size: 20px;
        width: 125px;
    }
}

// XL Device
@media only screen and (min-width: $extra-large-device) {
    .cell--container {
        font-size: 20px;
        width: 150px;
    }
}

