@import '../../constants/variables.scss';

.card--container {
    border: solid;
    border-width: 1px;
    box-shadow: 10px -5px 10px #CCC;
}

.header--block {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    background-color: gray;
    text-align: left;
    padding: 10px 10px 10px 20px;
    border-bottom: 1px solid;
}

.body--block {
    padding: 10px 10px 10px 20px;
    text-align: left;
}

// XS Device
@media only screen and (max-width: $small-device) {
    .card--container {
        margin: 0 5% 10px 5%;
    }
}

// S Device
@media only screen and (min-width: $small-device) {
    .card--container {
        margin: 0 10% 10px 10%;
    }
}

// L Device
@media only screen and (min-width: $large-device) {
    .card--container {
        margin: 0 20% 10px 20%;
    }
}

// XL Device
@media only screen and (min-width: $extra-large-device) {
    .card--container {
        margin: 0 20% 10px 20%;
    }
}
