.menu--container {
    display: flex;
    height: 56px;
    background-color: black;
    justify-content: space-around;
    align-items: center;
}

.left--container {
    color: white;
}

.right--container {
    color: white;
}